<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Pokemon</title>
</head>
<body>
    <main>
        <h1><%= message %></h1>
        <div class="searchbox">
            <input id="pokemonName" type="text" placeholder="Pokemon Name">
            <button id="search">Search</button>
        </div>
        <div class="pokemonBox">
        </div>
        <div>
            <img src="" alt="">
        </div>
        <div class="pokemonInfo">
            <h1>      </h1>
            <p>       </p>
        </div>
    </main>
</body>
</html>